:root {
    --blue: rgb(48, 49, 148);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}

#main_page{

    height: 75%;
    width: 75%;
    
}

#front_side{
    background-color: var(--blue);
    height: inherit;
    width: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#front_side::after{
    content: '';
    background-color: cyan;
    top: 0;
    right: -2.5vw;
    height: 4vh;
    width: 2.5vw;
    position: absolute;
    margin-top: 3vh;
}

#content_box{
    height: 65%;
    width: 60%;
    background-color: cadetblue;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#town_box {
    height: 30%;
    width: 40%;
    background: chocolate;
    align-self: flex-end;

}
#logo_box{
    background-image: url(logomain.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom;
    height: 45%;
    width: 100%;
}

#input_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}